.info {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.infos {
    padding: 10px;
}

.info-header {
    font-family: 'DM Serif Display';
    font-style: normal;
    font-weight: 400;
    font-size: 50px;
    letter-spacing: 0.02em;  
    color: #292F36;
}

.info-sub-header {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    align-items: center;
    letter-spacing: 0.01em;
    
    color: #4D5053;
}

.call {
    display: flex;
    flex-direction: row;
}

.phone {
    background: #F4F0EC;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90px;
    height: 90px;
    border-radius: 50%;
}

.call-info {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    letter-spacing: 0.01em;  
    color: #4D5053;
}

.call-info p:nth-child(1) {
    font-family: 'Jost';
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    letter-spacing: 0.01em;
    color: #4D5053;
}

.get {
    background: #292F36;
    box-shadow: 0px 10px 20px rgba(192, 192, 192, 0.35);
    border-radius: 18px;
    height: 75px;
    width: 238.14px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 600;
    font-size: 18px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    letter-spacing: 0.02em; 
    color: #FFFFFF;
}

.info-image img {
    border-radius: 0em 20em 0em 20em;
    padding: 10px;
    height: 500px;
    margin-top: 20px;
}